.const_font() {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.var_font(@font-size; @line-height; @font-weight; @color) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @color;
}

.var_font(error; @font-size; @line-height; @font-weight; @color) {
  text-transform: none;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @color;
}

.var_font(form; @font-size; @line-height; @font-weight; @color) {
  font-family: "PT Sans", sans-serif;
  text-transform: none;
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @color;
}

.grey_color() {
  background-color: @grey;
  border: 3px solid @grey;

  &:hover {
    background-color: @grey_hvr;
    border: 3px solid @grey_hvr;
  }

  &:focus {
    background-color: @white;
  }
}

.grey_color(var) {
  background-color: @grey;

  &:hover {
    background-color: @grey_hvr;
  }

  &:active {
    background-color: @grey_down;
  }
}

.blue_color() {
  background-color: @blue;

  &:hover {
    background-color: @blue_hvr;
  }

  &:active {
    background-color: @blue_down;
  }
}

.blue_color(var) {
  .blue_color();

  &:disabled {
    background-color: @grey;
  }
}

.menu_color() {
  color: @black;
  background: none;

  &:hover {
    color: @blue_hvr;
    background: none;
  }

  &:active {
    color: @grey_down;
    background: none;
  }
}

.menu_color(active) {
  color: @brown;

  &:hover {
    color: @brown_hvr;
  }

  &:active {
    color: @grey_down;
  }
}

.wrapper() {
  min-width: 320px;
  margin: 0 auto;

  @media @tablet_width {
    width: auto;
  }

  @media @desktop_width {
    max-width: 1200px;
  }
}

.pseudo() {
  position: absolute;
  content: "";
  display: table;
}


