.advantage {
  position: relative;

  padding: 0;
  padding-top: 28px;
  padding-bottom: 26px;
  box-sizing: border-box;

  background-color: @light_grey;
  text-align: center;

  @media @tablet_width {
    padding-top: 44px;
    padding-bottom: 43px;
    width: 33.33%;
  }

  @media @desktop_width {
    padding-bottom: 64px;
  }
}

.advantage--main {
  padding-top: 40px;
  padding-bottom: 38px;

  background-color: @blue;
  color: @white;

  @media @tablet_width {
    padding-top: 45px;
  }

  @media @desktop_width {
    padding-top: 52px;
  }
}

.advantage--triangle {
  padding: 0;
  padding-bottom: 38px;

  @media @tablet_width {
    padding-top: 45px;
  }

  @media @desktop_width {
    padding-top: 52px;
  }
}

.advantage--triangle::before {
  content: url(../img/bg-triangle.svg);
  display: block;
  margin-bottom: 38px;
  width: 100%;

  @media @tablet_width {
    display: none;
  }
}

.advantage--border::after {
  .pseudo();
  left: 50%;
  bottom: 0;

  transform: translate(-50%, 0);
  width: 90%;
  height: 1px;

  background-color: @grey_down;

  @media @tablet_width {
    display: none;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 12px;

  .var_font(16px; 26px; 700; @black);

  @media @tablet_width {
    margin: 0 50px;
    margin-bottom: 14px;

    font-size: 19px;
  }

  @media @desktop_width {
    margin: 0 120px;
    margin-bottom: 14px;
  }
}

.advantage__title--main {
  color: @white;
}

.advantage__number {
  position: relative;

  margin: 0;
  margin-bottom: 18px;

  @media @tablet_width {
    margin-bottom: 24px;
  }
}

.advantage__number::before,
.advantage__number::after {
  .pseudo();
  top: 50%;
  left: 50%;

  width: 10px;
  height: 1px;

  background-color: @grey_text;
}

.advantage--main .advantage__number::before,
.advantage--main .advantage__number::after {
  background-color: @white;
}

.advantage__number::before {
  margin-left: -25px;
}

.advantage__number::after {
  margin-left: 15px;
}

.advantage__text {
  margin: 0 25px;

  font-size: 14px;
  line-height: 22px;

  @media @tablet_width {
    margin: 0 50px;
  }
}

.advantage:nth-last-of-type(3) .advantage__text {
  @media @tablet_width {
    margin: 0 33px;
    word-break: break-all;
  }
}

.advantage__text--main {
  margin: 0;

  @media @tablet_width {
    margin: 0 35px;
  }

  @media @desktop_width {
    margin: 0 70px;
  }
}











