.advantage {
  position: relative;

  padding-top: 40px;
  padding-bottom: 45px;
  box-sizing: border-box;

  background-color: @light_grey;
  text-align: center;

  @media @tablet_width {
    padding-top: 50px;
    padding-bottom: 55px;
    width: 33.33%;
  }
}

.advantage--main {
  background-color: @blue;
  color: @white;
}

.advantage--triangle {
  padding-top: 0;

  @media @tablet_width {
    padding-top: 40px;
  }
}

.advantage--triangle::before {
  content: url(../../img/bg-triangle.svg);
  display: block;
  margin-bottom: 40px;
  width: 100%;

  @media @tablet_width {
    display: none;
  }
}

.advantage--border::after {
  .pseudo();
  left: 50%;
  bottom: 0;

  transform: translate(-50%, 0);
  width: 90%;
  height: 1px;

  background-color: @grey_down;

  @media @tablet_width {
    display: none;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 20px;

  .var_font(21px; 26px; 700; @black);
}

.advantage__title--main {
  color: @white;
}

.advantage__number {
  margin: 0;
  margin-bottom: 30px;
}

.advantage__text {
  margin: 0;
}




