.detail {
  position: relative;

  padding-top: 40px;
  padding-left: 75px;
  padding-right: 25px;
  box-sizing: border-box;

  @media @tablet_width {
    padding: 0;
    padding-top: 165px;
    padding-bottom: 65px;
    width: 33.33%;

    text-align: center;
  }

  @media @desktop_width {
    padding-bottom: 85px;
  }
}

.detail--gift {
  @media @tablet_width {
    order: 1;
  }
}

.detail--food {
  padding-bottom: 40px;

  @media @tablet_width {
    padding-bottom: 0;
  }
}

.detail::before {
  .pseudo();
  top: 25px;
  left: 20px;

  width: 45px;
  height: 45px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media @tablet_width {
    top: 60px;
    left: 50%;

    margin-left: -40px;
    width: 80px;
    height: 80px;
  }
}

.detail--hotel::before {
  background-image: url(../../img/icon-house.svg);
}

.detail--gift::before {
  background-image: url(../../img/icon-gift.svg);
}

.detail--food::before {
  background-image: url(../../img/icon-burger.svg);
}

.detail__title {
  margin: 0;
  margin-bottom: 25px;

  .var_font(21px; 26px; 700; @black);

  @media @tablet_width {
    margin-bottom: 30px;
  }
}

.detail__text {
  margin: 0;
}

