.detail {
  position: relative;

  padding-top: 40px;
  padding-left: 70px;
  padding-right: 25px;
  box-sizing: border-box;

  @media @tablet_width {
    padding: 0 35px;
    padding-top: 163px;
    padding-bottom: 63px;
    width: 33.33%;

    text-align: center;
  }

  @media @desktop_width {
    padding-bottom: 83px;
  }
}

.detail--gift {
  @media @tablet_width {
    order: 1;
  }
}

.detail--food {
  padding-bottom: 40px;

  @media @tablet_width {
    padding-bottom: 0;
  }
}

.detail::before {
  .pseudo();
  top: 25px;
  left: 18px;

  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media @tablet_width {
    top: 55px;
    left: 50%;

    margin-left: -40px;
    width: 80px;
    height: 80px;
  }
}

.detail--hotel::before {
  background-image: url(../img/icon-house.svg);
}

.detail--gift::before {
  background-image: url(../img/icon-gift.svg);
}

.detail--food::before {
  background-image: url(../img/icon-burger.svg);
}

.detail__title {
  margin: 0;
  margin-bottom: 16px;

  .var_font(16px; 16px; 700; @black);

  @media @tablet_width {
    margin-bottom: 28px;

    font-size: 18px;
  }
}

.detail__text {
  margin: 0;

  line-height: 20px;
}

