.feedback-form {
  padding-top: 12px;
  margin-bottom: 40px;

  text-align: center;

  @media @tablet_width {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    margin: 0 auto;
    width: 85%;
    max-width: 960px;
  }

  @media @desktop_width {
    padding-top: 75px;
  }
}

.feedback-form__button {
  .const_font();
  .var_font(21px; 26px; 700; @white);

  cursor: pointer;
}

.feedback-form__note {
  display: none;

  @media @tablet_width {
    display: block;
    margin-left: auto;
  }
}


