.feedback-form {
  padding-top: 25px;
  margin-bottom: 40px;

  text-align: center;

  @media @tablet_width {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    margin: 0 auto;
    width: 85%;
    max-width: 960px;
  }

  @media @desktop_width {
    padding-top: 75px;
  }
}

.form__button {
  .const_font();
  .var_font(21px; 26px; 700; @white);
}

.feedback-form__note {
  @media @mobile_width {
    display: none;
  }

  margin-left: auto;
}


