.form-fieldset {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
  width: 100%;

  border-top: 1px solid @light_grey;
  text-align: left;

  @media @tablet_width {
    padding: 0;
    margin-bottom: 60px;

    border: none;
  }
}

.form-fieldset--name,
.form-fieldset--impressions {
  @media @tablet_width {
    width: 50%;
  }
}

.form-fieldset--contacts::before,
.form-fieldset--contacts::after,
.form-fieldset--attractions::before,
.form-fieldset--attractions::after,
.form-fieldset--text::before,
.form-fieldset--text::after {
  @media @tablet_width {
    .pseudo();
    top: 12px;
    left: 0;

    width: 25%;
    height: 1px;

    background-color: #DBDBDB;
  }
}

.form-fieldset--attractions::before,
.form-fieldset--attractions::after {
  top: 20px;
}

.form-fieldset--contacts::after,
.form-fieldset--attractions::after,
.form-fieldset--text::after {
  left: 75%;
}

.form-fieldset__title {
  margin-bottom: 25px;
  width: 100%;

  .var_font(21px; 26px; 700; @black);

  text-align: center;

  margin-bottom: 45px;
}

.form-fieldset__wrapper {
  display: flex;
}

.form-fieldset__input,
.form-fieldset__text {
  padding: 15px 0;
  padding-left: 20px;
  box-sizing: border-box;

  .var_font(form; 18px; 26px; 700; @black);
  .grey_color();
}

.form-fieldset__radio,
.form-fieldset__checkbox {
  display: none;
}

.form-fieldset__label {
  position: relative;
}

.form-fieldset__label--bold {
  padding: 17px 0;

  .var_font(form; 18px; 26px; 700; @black);
}

/* Блок "Представьтесь" */

.form-fieldset--name {
  @media @tablet_width {
    padding-left: 60px;
  }

  @media @desktop_width {
    padding-left: 75px;
  }
}

.form-fieldset--name::before {
  @media @tablet_width {
    .pseudo();
    top: 0;
    left: 0;

    width: 1px;
    height: 100%;

    background-color: #DBDBDB;
  }
}

.form-fieldset--name .form-fieldset__title {
  @media @tablet_width {
    text-align: left;
  }
}

.form-fieldset__wrapper--name {
  margin-bottom: 25px;

  align-items: center;
}

.form-fieldset__wrapper--name:last-of-type {
  margin: 0;
}

.form-fieldset__wrapper--name .form-fieldset__input {
  flex-grow: 1;
  margin-left: 15px;
  min-width: 180px;
}

/* Блок "Ваше общее впечатление" */

.form-fieldset--impressions {
  @media @tablet_width {
    order: -1;
  }
}

.form-fieldset__label--radio {
  padding-left: 80px;
  margin-bottom: 26px;
}

.form-fieldset__label--radio:last-of-type {
  margin: 0;
}

.form-fieldset__label--radio::before {
  .pseudo();
  position: absolute;
  top: 0;
  left: 5px;

  width: 20px;
  height: 20px;

  background-color: @black;

  border-radius: 50%;
  border: 20px solid @grey;
}

/* Блок "Контактная информация" */

.form-fieldset--contacts {
  @media @desktop_width {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-fieldset__wrapper--contacts {
  position: relative;

  flex-direction: column;
  margin-bottom: 25px;

  @media @desktop_width {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
}

.form-fieldset__wrapper--contacts:last-of-type {
  margin: 0;
}

.form-fieldset__wrapper--contacts::after {
  .pseudo();
  bottom: 0;
  right: 0;

  width: 60px;
  height: 62px;

  background-color: @grey_hvr;
  background-repeat: no-repeat;
  background-position: center;
}

.form-fieldset__wrapper--phone::after {
  background-image: url(../../img/icon-phone.svg);
}

.form-fieldset__wrapper--mail::after {
  background-image: url(../../img/icon-mail.svg);
}

.form-fieldset__wrapper--contacts .form-fieldset__label {
  margin-left: 20px;
  margin-bottom: 10px;

  @media @desktop_width {
    margin: 0;
    margin-right: 10px;
  }
}

.form-fieldset__wrapper--contacts .form-fieldset__input {
  @media @desktop_width {
    width: 315px;
  }
}

/* Блок "Посещенные достопримечательности" */

.form-fieldset--attractions {
  @media @tablet_width {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10%;
  }

  @media @desktop_width {
    padding: 0;
  }
}

.form-fieldset__label--check {
  padding-left: 85px;
  margin-bottom: 30px;
  box-sizing: border-box;

  @media @tablet_width {
    width: 50%;
  }

  @media @desktop_width {
    width: 25%;
    margin: 0;
  }
}

.form-fieldset__label--check:last-of-type {
  @media @mobile_width {
    margin: 0;
  }
}

.form-fieldset__label--check:nth-of-type(n+3) {
  @media @tablet_width {
    margin: 0;
  }
}

.form-fieldset__label--check:nth-of-type(2) {
  order: 1;

  @media @tablet_width {
    order: 2;
  }
}

.form-fieldset__label--check:nth-of-type(3) {
  order: 2;

  @media @tablet_width {
    order: 1;
  }
}

.form-fieldset__label--check:nth-of-type(4) {
  order: 3;
}

.form-fieldset__label--check::before {
  .pseudo();
  top: 3px;
  left: 5px;

  width: 55px;
  height: 55px;

  background-color: @grey;
  border-radius: 5px;
  background-image: url(../../img/icon-tick.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Сообщение об ошибке */

.form-fieldset__error {
  position: absolute;

  display: none;

  .var_font(error; 12px; 12px; 400; @red_text);

  @media @mobile_width {
    bottom: -20px;
    left: 20px;
  }

  @media @tablet_width {
    top: 5px;
    right: 0;
  }

  @media @desktop_width {
    top: -20px;
    left: 50%;

    transform: translate(-50%, 0);
  }
}

.form-fieldset__error--show {
  display: block;
}

