.intro {
  display: flex;

  background-color: @blue;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro__image {
  margin: 90px auto;
}

.intro__image--min {
  margin: 50px auto;
}
