.intro {
  overflow: hidden;

  background-color: @blue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media @mobile_width {
    background-image: url(../../img/bg-intro-triangle-mobile.svg), url(../../img/bg-back-mobile@1x.jpg);
  }

  @media @tablet_width {
    background-image: url(../../img/bg-back-mobile@1x.jpg);
  }
}

.intro__image {
  margin: 90px auto;

  @media @mobile_width {
    width: 285px;
  }

  @media @tablet_width {
    width: 470px;
  }
}

.intro__image--min {
  margin: 50px auto;
}
