.main-menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__item {
    margin: 0;
    padding: 0;
  }
}

.main-menu__link {
  .var_font(18px; 40px; 700; @white);
  .blue_color();
  
  text-decoration: none;
}