.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
}

.page-header__logo {  
  align-self: center;
  margin-bottom: -35px;

  @media @tablet_width {
    position: absolute;
    top: 0;
    left: 50%;

    margin-left: -51px;
  }
}

/*

.page-header__logo img {
  @media @desktop_width {
    position: relative;
    z-index: 15;
  }
}

.page-header__logo::before {
  @media @desktop_width {
    .pseudo();
    top: 0;
    left: 50%;
    
    margin-left: -70px;
    margin-top: -70px;
    width: 140px;
    height: 140px;
  
    .blue_color();
    
    border-bottom-right-radius: 20px;
    
    transform: rotate(45deg);
  }  
}

*/

