.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 35px;

  @media @tablet_width {
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__heshtag {
  .var_font(20px; 26px; 700; @black);
}

.page-footer__social {
  margin-top: 36px;
  margin-bottom: 40px;

  @media @tablet_width {
    margin: 0;
  }
}

.social-links__item {
  margin-right: 8px;
}

.social-links__item:last-of-type {
  margin: 0;
}

.page-footer__copyright {
  font-size: 0;
}

.page-footer__copyright-text,
.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
}

.page-footer__copyright-text {
  margin-right: 4px;

  font-size: 14px;
}

.page-footer__copyright-link {
  &:hover .page-footer__copyright-img {
    fill: @blue_hvr;
  }

  &:active .page-footer__copyright-img {
    fill: @grey_down;
  }
}

.page-footer__copyright-img {
  display: block;
}


