.photo {
  position: relative;

  padding: 0 20px;
  padding-top: 22px;
  width: 100%;
  box-sizing: border-box;

  border-top: 1px solid @light_grey;

  @media @tablet_width {
    padding: 0;
    width: 50%;

    border: 0;
  }

  @media @desktop_width {
    width: 33.33%;
  }
}

.photo--first {
  @media @tablet_width {
    width: 100%;
  }
}

.photo--first .photo__description {
  padding-right: 22px;
}

.photo--last {
  border-bottom: 1px solid @light_grey;

  @media @tablet_width {
    border: 0;
  }
}

.photo__image img {
  display: block;
  margin: 0 auto;
}

.photo__description {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 22px;
  box-sizing: border-box;

  @media @tablet_width {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px 22px 18px;

    background-color: @grey;
  }

  @media @desktop_width {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    color: @white;
    background-color: @black_opacity;
  }
}

.photo__title {
  display: block;
  margin-bottom: 10px;

  font-size: 13px;
  font-weight: 700;

  color: @black;
  text-decoration: none;

  @media @desktop_width {
    color: @white;
  }
}

.photo__author {
  margin-bottom: 18px;

  text-transform: none;

  @media @tablet_width {
    margin-bottom: 0;
  }
}

.photo__stats {
  position: relative;

  padding-left: 35px;

  font-weight: 700;
}

.photo__stats::before {
  .pseudo();
  bottom: -4px;
  left: 2px;

  width: 25px;
  height: 25px;

  background-image: url(../../img/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media @desktop_width {
    background-image: url(../../img/icon-like-desktop.svg);
  }
}

