.player {
  position: relative;

  width: 100%;

  @media @tablet_width {
    width: 80%;
    max-width: 800px;
  }
}

.player__video {
  display: block;
}

.player__controls {
  position: absolute;
  left: 50%;
  bottom: -70px;

  display: flex;
  flex-wrap: wrap;
  margin-left: -40%;
  width: 80%;

  background-color: rgba(0, 0, 0, 0.2);

  @media @tablet_width {
    left: 0;
    bottom: 0;

    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);
  }
}

.player__volume {
  padding: 21px 20px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  @media @tablet_width {
    background: none;
  }
}

.player__bar {
  position: relative;

  height: 3px;

  background-color: rgba(242, 242, 242, 0.3);
}

.player__toggle {
  position: absolute;
  top: 50%;
  left: 20%;

  margin-top: -5px;
  width: 10px;
  height: 10px;

  background-color: @white;
  border-radius: 50%;
}

.player__button {
  margin: 25px 0;
  width: 20px;
  height: 20px;

  font-size: 0;

  cursor: pointer;
  border: none;
  background-color: red;

  @media @tablet_width {
    margin: 35px 0;
  }
}

.player__replay {
  margin-left: 20px;
  margin-right: auto;

  @media @tablet_width {
    order: -1;
    margin-left: 30px;
    margin-right: 10px;
  }
}

.player__subtitles {
  width: 35px;

  @media @tablet_width {
    margin-left: 20px;
  }
}

.player__fullscreen {
  margin-left: 30px;
  margin-right: 20px;

  @media @tablet_width {
    margin-right: 30px;
  }
}
