.search-hotel {
  padding-top: 26px;
  padding-bottom: 50px;

  @media @tablet_width {
    padding-top: 55px;
    padding-bottom: 60px;
  }
}

.search-hotel__header {
  margin-bottom: 36px;
}

.search-hotel__header .section-header__title {
  margin-bottom: 20px;

  font-size: 18px;
}

.search-hotel__header .section-header__text {
  line-height: 24px;
}

.search-hotel__button {
  display: block;
  margin: 0 auto;
}
