.section-header {
  .flex_column();
}

.section-header__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  
  .var_font(21px; 26px; 700; @black);
}

.section-header__text {
  margin: 0;
  padding: 0;
}

