.section-header {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;

  text-align: center;
}

.section-header__title {
  margin: 0 auto;
  margin-bottom: 26px;
  max-width: 480px;

  .var_font(16px; 26px; 700; @black);
}

.section-header__text {
  margin: 0 auto;
  max-width: 480px;

  .var_font(13px; 26px; 400; @black);
}




