.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  
  display: none;
  margin-top: -160px;
  margin-left: -160px;
  padding-top: 50px;
  width: 320px;
  
  background-color: @white;
  box-shadow: 0 3px 5px 5px @grey_btn;
  
  @media @tablet_width {
    padding-top: 65px;
    margin-top: -175px;
    margin-left: -320px;
    width: 640px;
  }
}

.success-popup--show {
  display: block;
}

.success-popup .section-header {
  margin-bottom: 40px;
}

.success-popup__wrapper {
  width: 100%;
  
  background-color: @light_grey;
  text-align: center;
}

.success-popup__button {
  margin-top: 20px;
  margin-bottom: 20px;
  
  @media @tablet_width {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}
