.videoplayer {
  padding-top: 32px;
  margin-bottom: 130px;

  @media @tablet_width {
    padding-top: 50px;
    margin-bottom: 60px;
  }

  @media @desktop_width {
    padding-top: 70px;
    margin-bottom: 80px;
  }
}

.videoplayer__header {
  margin-bottom: 36px;

  @media @tablet_width {
    margin-bottom: 55px;
  }

  @media @desktop_width {
    margin-bottom: 75px;
  }
}

.videoplayer__header .section-header__text {
  line-height: 24px;
}

